:root {
    --sidebar: 22rem;
  }
  html {
    scroll-behavior: smooth;
  }
  .font-semibold-active.active {
    font-weight: 600;
  }
  .underline-h:hover {
    text-decoration: underline;
  }
  .indicator {
    height: 4px;
  }
  .max-width-post-layout {
    max-width: 50rem;
  }
  .max-width-layout {
    max-width: 60rem;
  }
  .two-column {
    /* Height: Header | Content */
    grid-template-rows: 3rem 1fr;
    /* Width: Sidebar | Content */
    grid-template-columns: 17.666rem 1fr;
  }
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  .star-icon {
    width: 1rem;
    height: 1rem;
  }
  .slack-icon {
    width: 2rem;
    height: 2rem;
  }
  .logo {
    
  }
  .logo,
  .h-logo {
    height: 1.5rem;
  }
  .left-sidebar {
    /* Hide Sidebar off screen in mobile */
    left: calc(var(--sidebar) * -1);
  }
  .table-fixed {
    table-layout: fixed;
  }
  .border-collapse {
    border-collapse: collapse;
  }
  .resize-vertical {
    resize: vertical;
  }
  .open,
  .transition-x {
    transition: transform 100ms cubic-bezier(0.23, 1, 0.320, 1);
  }
  .open,
  .translate-x-sidebar {
    transform: translateX(var(--sidebar));
  }
  .transition-fill {
    transition: fill 2s ease-out;
  }
  
  @media only screen and (min-width:48em) {
    .open,
    .transition-x {
      transition: none;
     }
    .open,
    .translate-x-sidebar {
      transform: translateX(0);
    }
    .resize-none-lg {
      resize: none;
    }
  }
  
@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 3;
    transform: translateY(0);
  }
}

.shadow-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}
.shadow-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.shadow-card:active {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}
.boxshadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.transition-transform {
  transition: transform 0.15s ease-out
}
.transition-background-x {
  transition: background-position-x 0.5s cubic-bezier(.16,.7,.19,1.04);
}
.transform-scale-hover:hover {
  transform: scale(1.005);
  transition: transform 0.5s cubic-bezier(.16,.7,.19,1.04);
}
.transform-scale-active:active {
  transform: scale(1);
  transition: transform 0.15s cubic-bezier(.16,.7,.19,1.04);
}

.guide-link:hover > .h-gradient {
  background-position-x: -5.5rem;
}
.guide-link:active > .h-gradient {
  background-position-x: 0;
}

.background-size-cover {
  background-size:cover;
}

.guides-item-bg-h {
  height: 9.777rem;
}

.topCorners {
  border-top-right-radius:4px;
  border-top-left-radius:4px;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  text-align: justify;
}

code {
  background-color: #ffe8f0;
  color: #eb0052;
  font-size: 0.888rem;
  border-radius: 0.2em;
  padding: 2px 6px 2px;
  white-space: nowrap;
}

.card-image-height {
  height: 5rem;
}

.copy-success {
  display: none;
}

.copy-button {
  /* display: none; */
}

.menu-transition {
  transition: max-height 0.25s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

#hamburger {
  
}

#nav-ul {
  
  
 
}

#nav-ul.show {
  display: flex;
}