:root {
  --sidebar: 22rem;
}
html {
  scroll-behavior: smooth;
}
.font-semibold-active.active {
  font-weight: 600;
}
.underline-h:hover {
  text-decoration: underline;
}
.indicator {
  height: 4px;
}
.max-width-post-layout {
  max-width: 50rem;
}
.max-width-layout {
  max-width: 60rem;
}
.max-h-0 {
  max-height: 0;
}

.two-column {
  /* Height: Header | Content */
  grid-template-rows: 3rem 1fr;
  /* Width: Sidebar | Content */
  grid-template-columns: 17.666rem 1fr;
}
.js-nav {
  top: 2.8rem;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.js-nav.menu-open {
  padding-bottom:1.333rem;
}
.menu-open,
.max-h-900 {
  max-height: 50rem;
}
.pointer-none {
  pointer-events: none;
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
}
.icon-nav {
  width: 0.888rem;
  height: 0.777rem;
}
.star-icon {
  width: 1rem;
  height: 1rem;
}
.slack-icon {
  width: 2rem;
  height: 2rem;
}
.logo {
  width: 4.777rem;
  height: 1.333rem;
}
.left-sidebar {
  /* Hide Sidebar off screen in mobile */
  left: calc(var(--sidebar) * -1);
}
.table-fixed {
  table-layout: fixed;
}
.border-collapse {
  border-collapse: collapse;
}
.resize-vertical {
  resize: vertical;
}

@media only screen and (min-width:48em) {
  .resize-none-lg {
    resize: none;
  }
}


.boxshadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.link-login {
  max-width: 6rem;
}
.guides-item-bg-h {
  height: 9.777rem;
}

.topCorners {
  border-top-right-radius:4px;
  border-top-left-radius:4px;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  text-align: justify;
}

code {
  background-color: #ffe8f0;
  color: #eb0052;
  font-size: 0.888rem;
  border-radius: 0.2em;
  padding: 2px 6px 2px;
  white-space: nowrap;
}

.card-image-height {
  height: 5rem;
}

.copy-success {
  display: none;
}

.menu-transition {
  transition: max-height 0.25s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
